In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import collections

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn import tree

In [2]:
# Study data files
data_path = "usda_plantsdb.csv"

# Read the mouse data and the study results
data = pd.read_csv(data_path,low_memory=False)

In [3]:
# Combine the data into a single dataset
df_og = pd.DataFrame(data)
df = df_og.copy()

# Display the data table for preview
df.head()

,Unnamed: 0,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,0,1,ABAB,ABAB,NaN,Abutilon abutiloides (Jacq.) Garcke ex Hochr.,NaN,NaN,abutiloides,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
1,1,2,ABAB2,ABPR3,ABAB2,"Abrus abrus (L.) W. Wight, nom. inval.",NaN,NaN,abrus,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abrus
2,2,3,ABAB3,ABTH,ABAB3,"Abutilon abutilon (L.) Rusby, nom. inval.",NaN,NaN,abutilon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abutilon
3,3,4,ABAB70,ABAB70,NaN,Abietinella abietina (Hedw.) Fleisch.,NaN,NaN,abietina,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abietinella
4,4,5,ABAC,ABUMB,ABAC,Abronia acutalata Standl.,NaN,NaN,acutalata,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abronia

In [4]:
df.shape

(92171, 135)

In [5]:
column_list = list(df)
print(column_list)
# Does T_E_ mean tax-exempt?
# are _y columns duplicated?

['Unnamed: 0', 'id', 'Symbol', 'Accepted_Symbol_x', 'Synonym_Symbol_x', 'Scientific_Name_x', 'Hybrid_Genus_Indicator', 'Hybrid_Species_Indicator', 'Species', 'Subspecies_Prefix', 'Hybrid_Subspecies_Indicator', 'Subspecies', 'Variety_Prefix', 'Hybrid_Variety_Indicator', 'Variety', 'Subvariety_Prefix', 'Subvariety', 'Forma_Prefix', 'Forma', 'Genera_Binomial_Author', 'Trinomial_Author', 'Quadranomial_Author', 'Questionable_Taxon_Indicator', 'Parents', 'Common_Name', 'State_and_Province', 'Category', 'Family', 'Family_Symbol', 'Family_Common_Name', 'xOrder', 'SubClass', 'Class', 'SubDivision', 'Division', 'SuperDivision', 'SubKingdom', 'Kingdom', 'Duration', 'Growth_Habit', 'Native_Status', 'Federal_Noxious_Status', 'State_Noxious_Status', 'State_Noxious_Common_Name', 'Invasive', 'Federal_T_E_Status', 'State_T_E_Status', 'State_T_E_Common_Name', 'Accepted_Symbol_y', 'Synonym_Symbol_y', 'Scientific_Name_y', 'Active_Growth_Period', 'After_Harvest_Regrowth_Rate', 'Bloat', 'C_N_Ratio', 'Coppice_Potential', 'Fall_Conspicuous', 'Fire_Resistance', 'Flower_Color', 'Flower_Conspicuous', 'Foliage_Color', 'Foliage_Porosity_Summer', 'Foliage_Porosity_Winter', 'Foliage_Texture', 'Fruit_Color', 'Fruit_Conspicuous', 'Growth_Form', 'Growth_Rate', 'Height_at_Base_Age_Maximum_feet', 'Height_Mature_feet', 'Known_Allelopath', 'Leaf_Retention', 'Lifespan', 'Low_Growing_Grass', 'Nitrogen_Fixation', 'Resprout_Ability', 'Shape_and_Orientation', 'Toxicity', 'Adapted_to_Coarse_Textured_Soils', 'Adapted_to_Medium_Textured_Soils', 'Adapted_to_Fine_Textured_Soils', 'Anaerobic_Tolerance', 'CaCO_3_Tolerance', 'Cold_Stratification_Required', 'Drought_Tolerance', 'Fertility_Requirement', 'Fire_Tolerance', 'Frost_Free_Days_Minimum', 'Hedge_Tolerance', 'Moisture_Use', 'pH_Minimum', 'pH_Maximum', 'Planting_Density_per_Acre_Minimum', 'Planting_Density_per_Acre_Maximum', 'Precipitation_Minimum', 'Precipitation_Maximum', 'Root_Depth_Minimum_inches', 'Salinity_Tolerance', 'Shade_Tolerance', 'Temperature_Minimum_F', 'Bloom_Period', 'Commercial_Availability', 'Fruit_Seed_Abundance', 'Fruit_Seed_Period_Begin', 'Fruit_Seed_Period_End', 'Fruit_Seed_Persistence', 'Propogated_by_Bare_Root', 'Propogated_by_Bulbs', 'Propogated_by_Container', 'Propogated_by_Corms', 'Propogated_by_Cuttings', 'Propogated_by_Seed', 'Propogated_by_Sod', 'Propogated_by_Sprigs', 'Propogated_by_Tubers', 'Seeds_per_Pound', 'Seed_Spread_Rate', 'Seedling_Vigor', 'Small_Grain', 'Vegetative_Spread_Rate', 'Berry_Nut_Seed_Product', 'Christmas_Tree_Product', 'Fodder_Product', 'Fuelwood_Product', 'Lumber_Product', 'Naval_Store_Product', 'Nursery_Stock_Product', 'Palatable_Browse_Animal', 'Palatable_Graze_Animal', 'Palatable_Human', 'Post_Product', 'Protein_Potential', 'Pulpwood_Product', 'Veneer_Product', 'Genus']

In [6]:
# find empty columns
df_null_list = df.isnull().sum().sort_values(ascending=False)
print(df_null_list)

Questionable_Taxon_Indicator    92171
Hybrid_Subspecies_Indicator     92166
Hybrid_Variety_Indicator        92165
Subvariety_Prefix               92163
Subvariety                      92163
                                ...
id                                  0
Scientific_Name_x                   0
Accepted_Symbol_x                   0
Symbol                              0
Genus                               0
Length: 135, dtype: int64

In [7]:
for column in column_list:
    print(df[column].nunique())
    print('----------------')

92171
----------------
92171
----------------
92171
----------------
48398
----------------
43773
----------------
92163
----------------
1
----------------
1
----------------
20631
----------------
1
----------------
1
----------------
3428
----------------
1
----------------
1
----------------
7649
----------------
1
----------------
8
----------------
1
----------------
56
----------------
20255
----------------
11690
----------------
225
----------------
0
----------------
1068
----------------
31247
----------------
10921
----------------
14
----------------
547
----------------
547
----------------
311
----------------
156
----------------
18
----------------
24
----------------
3
----------------
16
----------------
1
----------------
1
----------------
2
----------------
9
----------------
63
----------------
347
----------------
2
----------------
282
----------------
573
----------------
166
----------------
2
----------------
1645
----------------
4872
----------------
1081
----------------
30
----------------
1111
----------------
8
----------------
3
----------------
4
----------------
3
----------------
2
----------------
2
----------------
2
----------------
8
----------------
2
----------------
6
----------------
3
----------------
3
----------------
3
----------------
9
----------------
2
----------------
8
----------------
3
----------------
34
----------------
101
----------------
2
----------------
2
----------------
3
----------------
2
----------------
4
----------------
2
----------------
11
----------------
4
----------------
2
----------------
2
----------------
2
----------------
4
----------------
4
----------------
2
----------------
4
----------------
3
----------------
4
----------------
62
----------------
4
----------------
3
----------------
35
----------------
42
----------------
62
----------------
59
----------------
42
----------------
66
----------------
30
----------------
4
----------------
3
----------------
69
----------------
12
----------------
4
----------------
4
----------------
5
----------------
5
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
564
----------------
4
----------------
3
----------------
2
----------------
4
----------------
2
----------------
2
----------------
2
----------------
3
----------------
2
----------------
2
----------------
2
----------------
3
----------------
3
----------------
2
----------------
2
----------------
2
----------------
2
----------------
2
----------------
6877
----------------

In [8]:
# bin 3 lists of column names by number of unique values
one_unique_list = []
two_unique_list = []
three_unique_list = []
four_unique_list = []
med_unique_list = []

for x in column_list:
    if df[x].nunique() == 1:
        one_unique_list.append(x)
    elif df[x].nunique() == 2:
        two_unique_list.append(x)
    elif df[x].nunique() == 3:
        three_unique_list.append(x)
    elif df[x].nunique() == 4:
        four_unique_list.append(x)
    else: 
        med_unique_list.append(x)

In [9]:
# check for matches
if collections.Counter(one_unique_list) == collections.Counter(two_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [10]:
# check for matches
if collections.Counter(two_unique_list) == collections.Counter(three_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [11]:
# check for matches
if collections.Counter(three_unique_list) == collections.Counter(four_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [12]:
# check for matches
if collections.Counter(four_unique_list) == collections.Counter(med_unique_list):
    print("matches found")
else: print ("no matches found")

no matches found

In [13]:
# double check for correct nunique
for x in one_unique_list:
    print(df[x].nunique())

# CORRECT

1
1
1
1
1
1
1
1
1
1

In [14]:
# double check for correct nunique
for x in two_unique_list:
    print(df[x].nunique())

# CORRECT

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2

In [15]:
# double check for correct nunique
for x in three_unique_list:
    print(df[x].nunique())
    
# CORRECT

3
3
3
3
3
3
3
3
3
3
3
3
3
3
3

In [16]:
# double check for correct nunique
for x in four_unique_list:
    print(df[x].nunique())


# CORRECT

4
4
4
4
4
4
4
4
4
4
4
4
4

In [17]:
# double check for correct nunique
for x in med_unique_list:
    print(df[x].nunique())


# CORRECT

92171
92171
92171
48398
43773
92163
20631
3428
7649
8
56
20255
11690
225
0
1068
31247
10921
14
547
547
311
156
18
24
16
9
63
347
282
573
166
1645
4872
1081
30
1111
8
8
6
9
8
34
101
11
62
35
42
62
59
42
66
30
69
12
5
5
564
6877

In [18]:
len(one_unique_list)

10

In [19]:
len(two_unique_list)

38

In [20]:
len(three_unique_list)

15

In [21]:
len(four_unique_list)

13

In [22]:
len(med_unique_list)

59

## Replace nan with 0 and categorical values with numerical values inplace for one_unique_list

In [23]:
# check rate of na values in low variety columns
for x in one_unique_list:
    print(df[x].isna().sum())
    print("--------------")

92037
--------------
90689
--------------
85730
--------------
92166
--------------
72851
--------------
92165
--------------
92163
--------------
92108
--------------
52621
--------------
51193
--------------

In [24]:
# check name of unique values in low variety columns
for x in one_unique_list:
    print(df[x].value_counts())
    print("--------------")

Ã—    134
Name: Hybrid_Genus_Indicator, dtype: int64
--------------
Ã—    1482
Name: Hybrid_Species_Indicator, dtype: int64
--------------
ssp.    6441
Name: Subspecies_Prefix, dtype: int64
--------------
Ã—    5
Name: Hybrid_Subspecies_Indicator, dtype: int64
--------------
var.    19320
Name: Variety_Prefix, dtype: int64
--------------
Ã—    6
Name: Hybrid_Variety_Indicator, dtype: int64
--------------
subvar.    8
Name: Subvariety_Prefix, dtype: int64
--------------
f.    63
Name: Forma_Prefix, dtype: int64
--------------
Spermatophyta    39550
Name: SuperDivision, dtype: int64
--------------
Tracheobionta    40978
Name: SubKingdom, dtype: int64
--------------

In [25]:
# replace single column value with numeric
for x in one_unique_list:
    df[x].fillna(0,inplace=True)
    df[x]=df[x].apply(lambda x: 1 if x!=0 else 0)


#     print(len(y)) = 2 x10
#     df[x].replace({y:1},inplace=True)

In [26]:
for x in one_unique_list:
    print(df[x].value_counts())

0    92037
1      134
Name: Hybrid_Genus_Indicator, dtype: int64
0    90689
1     1482
Name: Hybrid_Species_Indicator, dtype: int64
0    85730
1     6441
Name: Subspecies_Prefix, dtype: int64
0    92166
1        5
Name: Hybrid_Subspecies_Indicator, dtype: int64
0    72851
1    19320
Name: Variety_Prefix, dtype: int64
0    92165
1        6
Name: Hybrid_Variety_Indicator, dtype: int64
0    92163
1        8
Name: Subvariety_Prefix, dtype: int64
0    92108
1       63
Name: Forma_Prefix, dtype: int64
0    52621
1    39550
Name: SuperDivision, dtype: int64
0    51193
1    40978
Name: SubKingdom, dtype: int64

In [27]:
# check rate of na values in low variety columns
for x in one_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

## Check/Factorize/Check two_unique_list

In [28]:
# check rate of na values in low variety columns
for x in two_unique_list:
    print(df[x].isna().sum())
    print("--------------")

43775
--------------
92076
--------------
91411
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------
91090
--------------

In [29]:
# check name of unique values in low variety columns
for x in two_unique_list:
    print(df[x].value_counts())
    print("--------------")

Plantae    43786
Fungi       4610
Name: Kingdom, dtype: int64
--------------
NW       94
NW, Q     1
Name: Federal_Noxious_Status, dtype: int64
--------------
Endangered    609
Threatened    151
Name: Federal_T_E_Status, dtype: int64
--------------
No     936
Yes    145
Name: Coppice_Potential, dtype: int64
--------------
No     868
Yes    213
Name: Fall_Conspicuous, dtype: int64
--------------
No     991
Yes     90
Name: Fire_Resistance, dtype: int64
--------------
No     604
Yes    477
Name: Flower_Conspicuous, dtype: int64
--------------
No     734
Yes    347
Name: Fruit_Conspicuous, dtype: int64
--------------
No     1048
Yes      33
Name: Known_Allelopath, dtype: int64
--------------
No     942
Yes    139
Name: Leaf_Retention, dtype: int64
--------------
No     1000
Yes      81
Name: Low_Growing_Grass, dtype: int64
--------------
No     747
Yes    334
Name: Resprout_Ability, dtype: int64
--------------
Yes    767
No     314
Name: Adapted_to_Coarse_Textured_Soils, dtype: int64
--------------
Yes    1045
No       36
Name: Adapted_to_Medium_Textured_Soils, dtype: int64
--------------
Yes    589
No     492
Name: Adapted_to_Fine_Textured_Soils, dtype: int64
--------------
No     734
Yes    347
Name: Cold_Stratification_Required, dtype: int64
--------------
No     833
Yes    248
Name: Fruit_Seed_Persistence, dtype: int64
--------------
Yes    593
No     488
Name: Propogated_by_Bare_Root, dtype: int64
--------------
No     1068
Yes      13
Name: Propogated_by_Bulbs, dtype: int64
--------------
No     563
Yes    518
Name: Propogated_by_Container, dtype: int64
--------------
No     1071
Yes      10
Name: Propogated_by_Corms, dtype: int64
--------------
No     844
Yes    237
Name: Propogated_by_Cuttings, dtype: int64
--------------
Yes    1004
No       77
Name: Propogated_by_Seed, dtype: int64
--------------
No     1073
Yes       8
Name: Propogated_by_Sod, dtype: int64
--------------
No     824
Yes    257
Name: Propogated_by_Sprigs, dtype: int64
--------------
No     1070
Yes      11
Name: Propogated_by_Tubers, dtype: int64
--------------
No     1073
Yes       8
Name: Small_Grain, dtype: int64
--------------
No     1012
Yes      69
Name: Berry_Nut_Seed_Product, dtype: int64
--------------
No     1062
Yes      19
Name: Christmas_Tree_Product, dtype: int64
--------------
No     840
Yes    241
Name: Fodder_Product, dtype: int64
--------------
No     1017
Yes      64
Name: Lumber_Product, dtype: int64
--------------
No     1050
Yes      31
Name: Naval_Store_Product, dtype: int64
--------------
No     692
Yes    389
Name: Nursery_Stock_Product, dtype: int64
--------------
No     928
Yes    153
Name: Palatable_Human, dtype: int64
--------------
No     1036
Yes      45
Name: Post_Product, dtype: int64
--------------
Low       775
Medium    306
Name: Protein_Potential, dtype: int64
--------------
No     1026
Yes      55
Name: Pulpwood_Product, dtype: int64
--------------
No     1021
Yes      60
Name: Veneer_Product, dtype: int64
--------------

In [30]:
# replace single column value with numerics
for x in two_unique_list:
    df[x] = pd.factorize(df[x], na_sentinel=None)[0]

In [31]:
# check name of unique values in low variety columns
for x in two_unique_list:
    print(df[x].value_counts())
    print("--------------")

0    43786
2    43775
1     4610
Name: Kingdom, dtype: int64
--------------
2    92076
0       94
1        1
Name: Federal_Noxious_Status, dtype: int64
--------------
2    91411
0      609
1      151
Name: Federal_T_E_Status, dtype: int64
--------------
2    91090
0      936
1      145
Name: Coppice_Potential, dtype: int64
--------------
2    91090
0      868
1      213
Name: Fall_Conspicuous, dtype: int64
--------------
2    91090
0      991
1       90
Name: Fire_Resistance, dtype: int64
--------------
2    91090
0      604
1      477
Name: Flower_Conspicuous, dtype: int64
--------------
2    91090
0      734
1      347
Name: Fruit_Conspicuous, dtype: int64
--------------
2    91090
0     1048
1       33
Name: Known_Allelopath, dtype: int64
--------------
2    91090
1      942
0      139
Name: Leaf_Retention, dtype: int64
--------------
2    91090
0     1000
1       81
Name: Low_Growing_Grass, dtype: int64
--------------
2    91090
0      747
1      334
Name: Resprout_Ability, dtype: int64
--------------
2    91090
0      767
1      314
Name: Adapted_to_Coarse_Textured_Soils, dtype: int64
--------------
2    91090
0     1045
1       36
Name: Adapted_to_Medium_Textured_Soils, dtype: int64
--------------
2    91090
0      589
1      492
Name: Adapted_to_Fine_Textured_Soils, dtype: int64
--------------
2    91090
1      734
0      347
Name: Cold_Stratification_Required, dtype: int64
--------------
2    91090
0      833
1      248
Name: Fruit_Seed_Persistence, dtype: int64
--------------
2    91090
0      593
1      488
Name: Propogated_by_Bare_Root, dtype: int64
--------------
2    91090
0     1068
1       13
Name: Propogated_by_Bulbs, dtype: int64
--------------
2    91090
1      563
0      518
Name: Propogated_by_Container, dtype: int64
--------------
2    91090
0     1071
1       10
Name: Propogated_by_Corms, dtype: int64
--------------
2    91090
0      844
1      237
Name: Propogated_by_Cuttings, dtype: int64
--------------
2    91090
0     1004
1       77
Name: Propogated_by_Seed, dtype: int64
--------------
2    91090
0     1073
1        8
Name: Propogated_by_Sod, dtype: int64
--------------
2    91090
0      824
1      257
Name: Propogated_by_Sprigs, dtype: int64
--------------
2    91090
0     1070
1       11
Name: Propogated_by_Tubers, dtype: int64
--------------
2    91090
0     1073
1        8
Name: Small_Grain, dtype: int64
--------------
2    91090
0     1012
1       69
Name: Berry_Nut_Seed_Product, dtype: int64
--------------
2    91090
1     1062
0       19
Name: Christmas_Tree_Product, dtype: int64
--------------
2    91090
0      840
1      241
Name: Fodder_Product, dtype: int64
--------------
2    91090
1     1017
0       64
Name: Lumber_Product, dtype: int64
--------------
2    91090
1     1050
0       31
Name: Naval_Store_Product, dtype: int64
--------------
2    91090
1      692
0      389
Name: Nursery_Stock_Product, dtype: int64
--------------
2    91090
0      928
1      153
Name: Palatable_Human, dtype: int64
--------------
2    91090
0     1036
1       45
Name: Post_Product, dtype: int64
--------------
2    91090
0      775
1      306
Name: Protein_Potential, dtype: int64
--------------
2    91090
1     1026
0       55
Name: Pulpwood_Product, dtype: int64
--------------
2    91090
1     1021
0       60
Name: Veneer_Product, dtype: int64
--------------

In [32]:
# check rate of na values in low variety columns
for x in two_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

## Check/Factorize/Check three_unique_list

In [33]:
# check rate of na values in low variety columns
for x in three_unique_list:
    print(df[x].isna().sum())
    print("--------------")

89375
--------------
91577
--------------
91122
--------------
91100
--------------
91106
--------------
91090
--------------
91092
--------------
91144
--------------
91090
--------------
91090
--------------
91090
--------------
91115
--------------
92027
--------------
91112
--------------
91161
--------------

In [34]:
# check name of unique values in low variety columns
for x in three_unique_list:
    print(df[x].value_counts())
    print("--------------")

Musci           1839
Hepaticae        933
Anthocerotae      24
Name: SubDivision, dtype: int64
--------------
Slow        397
Moderate    136
Rapid        61
Name: After_Harvest_Regrowth_Rate, dtype: int64
--------------
Medium    520
High      413
Low       116
Name: C_N_Ratio, dtype: int64
--------------
Moderate    413
Dense       339
Porous      319
Name: Foliage_Porosity_Summer, dtype: int64
--------------
Porous      817
Moderate    166
Dense        82
Name: Foliage_Porosity_Winter, dtype: int64
--------------
Medium    433
Coarse    354
Fine      294
Name: Foliage_Texture, dtype: int64
--------------
Moderate    487
Rapid       369
Slow        223
Name: Growth_Rate, dtype: int64
--------------
Moderate    457
Long        321
Short       249
Name: Lifespan, dtype: int64
--------------
Low       534
Medium    486
High       61
Name: Fertility_Requirement, dtype: int64
--------------
Medium    450
Low       358
High      273
Name: Moisture_Use, dtype: int64
--------------
Intolerant      544
Intermediate    305
Tolerant        232
Name: Shade_Tolerance, dtype: int64
--------------
Medium    416
Low       390
High      250
Name: Seedling_Vigor, dtype: int64
--------------
Medium    57
High      44
Low       43
Name: Fuelwood_Product, dtype: int64
--------------
Low       611
Medium    305
High      143
Name: Palatable_Browse_Animal, dtype: int64
--------------
Low       667
Medium    193
High      150
Name: Palatable_Graze_Animal, dtype: int64
--------------

In [35]:
# replace single column value with numerics
for x in three_unique_list:
    df[x] = pd.factorize(df[x], na_sentinel=None)[0]

In [36]:
# check name of unique values in low variety columns
for x in three_unique_list:
    print(df[x].value_counts())
    print("--------------")

3    89375
0     1839
1      933
2       24
Name: SubDivision, dtype: int64
--------------
3    91577
1      397
0      136
2       61
Name: After_Harvest_Regrowth_Rate, dtype: int64
--------------
3    91122
1      520
0      413
2      116
Name: C_N_Ratio, dtype: int64
--------------
3    91100
1      413
0      339
2      319
Name: Foliage_Porosity_Summer, dtype: int64
--------------
3    91106
2      817
1      166
0       82
Name: Foliage_Porosity_Winter, dtype: int64
--------------
3    91090
0      433
1      354
2      294
Name: Foliage_Texture, dtype: int64
--------------
3    91092
1      487
2      369
0      223
Name: Growth_Rate, dtype: int64
--------------
3    91144
2      457
1      321
0      249
Name: Lifespan, dtype: int64
--------------
3    91090
1      534
0      486
2       61
Name: Fertility_Requirement, dtype: int64
--------------
3    91090
0      450
1      358
2      273
Name: Moisture_Use, dtype: int64
--------------
3    91090
2      544
1      305
0      232
Name: Shade_Tolerance, dtype: int64
--------------
3    91115
1      416
0      390
2      250
Name: Seedling_Vigor, dtype: int64
--------------
3    92027
1       57
2       44
0       43
Name: Fuelwood_Product, dtype: int64
--------------
3    91112
1      611
0      305
2      143
Name: Palatable_Browse_Animal, dtype: int64
--------------
3    91161
0      667
1      193
2      150
Name: Palatable_Graze_Animal, dtype: int64
--------------

In [37]:
# check rate of na values in low variety columns
for x in three_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

## Check/Factorize/Check four_unique_list

In [38]:
# check rate of na values in low variety columns
for x in four_unique_list:
    print(df[x].isna().sum())
    print("--------------")

91090
--------------
91090
--------------
91096
--------------
91090
--------------
91094
--------------
91090
--------------
91106
--------------
91096
--------------
91090
--------------
91092
--------------
91111
--------------
91094
--------------
91099
--------------

In [39]:
# check name of unique values in low variety columns
for x in four_unique_list:
    print(df[x].value_counts())
    print("--------------")

None      1037
Low         38
Medium       4
High         2
Name: Bloat, dtype: int64
--------------
None      974
Medium     50
Low        49
High        8
Name: Nitrogen_Fixation, dtype: int64
--------------
None        959
Slight       57
Moderate     40
Severe       19
Name: Toxicity, dtype: int64
--------------
None      528
Low       214
High      175
Medium    164
Name: Anaerobic_Tolerance, dtype: int64
--------------
Medium    403
Low       326
High      267
None       81
Name: CaCO_3_Tolerance, dtype: int64
--------------
Low       353
High      347
Medium    289
None       92
Name: Drought_Tolerance, dtype: int64
--------------
High      489
Medium    274
Low       209
None       93
Name: Fire_Tolerance, dtype: int64
--------------
None      702
Low       153
High      115
Medium    105
Name: Hedge_Tolerance, dtype: int64
--------------
None      581
Low       275
Medium    164
High       61
Name: Salinity_Tolerance, dtype: int64
--------------
Routinely Available       575
No Known Source           287
Contracting Only          166
Field Collections Only     51
Name: Commercial_Availability, dtype: int64
--------------
Medium    425
High      365
Low       264
None        6
Name: Fruit_Seed_Abundance, dtype: int64
--------------
Slow        642
Moderate    259
Rapid       133
None         43
Name: Seed_Spread_Rate, dtype: int64
--------------
None        612
Slow        202
Moderate    165
Rapid        93
Name: Vegetative_Spread_Rate, dtype: int64
--------------

In [40]:
# replace single column value with numerics
for x in four_unique_list:
    df[x] = pd.factorize(df[x], na_sentinel=None)[0]

In [41]:
# check name of unique values in low variety columns
for x in four_unique_list:
    print(df[x].value_counts())
    print("--------------")

4    91090
0     1037
1       38
2        4
3        2
Name: Bloat, dtype: int64
--------------
4    91090
0      974
2       50
1       49
3        8
Name: Nitrogen_Fixation, dtype: int64
--------------
4    91096
0      959
1       57
2       40
3       19
Name: Toxicity, dtype: int64
--------------
4    91090
0      528
1      214
2      175
3      164
Name: Anaerobic_Tolerance, dtype: int64
--------------
4    91094
1      403
0      326
2      267
3       81
Name: CaCO_3_Tolerance, dtype: int64
--------------
4    91090
0      353
3      347
1      289
2       92
Name: Drought_Tolerance, dtype: int64
--------------
4    91106
2      489
1      274
0      209
3       93
Name: Fire_Tolerance, dtype: int64
--------------
4    91096
2      702
0      153
1      115
3      105
Name: Hedge_Tolerance, dtype: int64
--------------
4    91090
0      581
1      275
2      164
3       61
Name: Salinity_Tolerance, dtype: int64
--------------
4    91092
0      575
3      287
2      166
1       51
Name: Commercial_Availability, dtype: int64
--------------
4    91111
0      425
2      365
3      264
1        6
Name: Fruit_Seed_Abundance, dtype: int64
--------------
4    91094
0      642
1      259
3      133
2       43
Name: Seed_Spread_Rate, dtype: int64
--------------
4    91099
0      612
2      202
1      165
3       93
Name: Vegetative_Spread_Rate, dtype: int64
--------------

In [42]:
# check rate of na values in low variety columns
for x in four_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

## Check/Factorize/Check med_unique_list

In [43]:
# check rate of na values in high variety columns
for x in med_unique_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
48398
--------------
0
--------------
5011
--------------
85730
--------------
72849
--------------
92163
--------------
92108
--------------
4984
--------------
66679
--------------
91862
--------------
92171
--------------
91097
--------------
48971
--------------
56506
--------------
43773
--------------
43775
--------------
43773
--------------
51092
--------------
43858
--------------
50169
--------------
43775
--------------
43775
--------------
59943
--------------
52693
--------------
53845
--------------
91551
--------------
91564
--------------
90735
--------------
86924
--------------
87139
--------------
91060
--------------
92141
--------------
91060
--------------
91092
--------------
91122
--------------
91090
--------------
91117
--------------
91090
--------------
91756
--------------
91091
--------------
91090
--------------
91092
--------------
91093
--------------
91093
--------------
91403
--------------
91404
--------------
91097
--------------
91097
--------------
91090
--------------
91092
--------------
91098
--------------
91111
--------------
91113
--------------
91288
--------------
0
--------------

In [44]:
# check name of unique values in high variety columns
for x in med_unique_list:
    print(df[x].value_counts())
    print("--------------")

0        1
61454    1
61452    1
61451    1
61450    1
        ..
30722    1
30721    1
30720    1
30719    1
92170    1
Name: Unnamed: 0, Length: 92171, dtype: int64
--------------
1        1
61455    1
61453    1
61452    1
61451    1
        ..
30723    1
30722    1
30721    1
30720    1
92171    1
Name: id, Length: 92171, dtype: int64
--------------
ABAB     1
PAGY2    1
PAGUB    1
PAGU4    1
PAGU3    1
        ..
EGPR     1
EGLET    1
EGERI    1
EGDE     1
ZYVU     1
Name: Symbol, Length: 92171, dtype: int64
--------------
MIGU      70
IRHEH     69
TEOA      54
DECE      46
CRSU5     44
          ..
LAPOP      1
LAPOH      1
CAGR37     1
LAPO3      1
HEAM6      1
Name: Accepted_Symbol_x, Length: 48398, dtype: int64
--------------
ABAB2     1
PAFEP     1
PAFA6     1
PAFA7     1
PAFA8     1
         ..
ELAR10    1
ELAR11    1
ELAR12    1
ELAR13    1
ZYVU      1
Name: Synonym_Symbol_x, Length: 43773, dtype: int64
--------------
Carex sonomensis Stacey                                                       2
Escobaria tuberculosa (Engelm.) Britton & Rose                                2
Quercus prinus L. p.p., nom. utique rej.                                      2
Sarracenia purpurea L. ssp. purpurea var. montana D.E. Schnell & Determann    2
Acer barbatum Michx. p.p.                                                     2
                                                                             ..
Ehretia anacua (TerÃ¡n & Berl.) I.M. Johnst.                                   1
Egletes viscosa (L.) Less.                                                    1
Egletes prostrata (Sw.) Kuntze                                                1
Egletes Cass.                                                                 1
Zygodon vulgaris (Malta) Nyholm                                               1
Name: Scientific_Name_x, Length: 92163, dtype: int64
--------------
californica      390
occidentalis     295
americana        203
canadensis       199
angustifolia     188
                ...
illinoinensis      1
cymbaria           1
zanonii            1
depressulum        1
todsenii           1
Name: Species, Length: 20631, dtype: int64
--------------
occidentalis    45
californica     36
arctica         32
australis       28
typica          26
                ..
concinnum        1
eurekense        1
medium           1
yadonii          1
mays             1
Name: Subspecies, Length: 3428, dtype: int64
--------------
pubescens        102
angustifolia      90
occidentalis      84
minor             71
major             71
                ...
bisanctus          1
brevicaule         1
nudatus            1
bellidiastrum      1
viridissimus       1
Name: Variety, Length: 7649, dtype: int64
--------------
mohrii           1
tetrastachyum    1
torreyanum       1
hallii           1
genuina          1
arctatus         1
tenuisecta       1
metzgeri         1
Name: Subvariety, dtype: int64
--------------
attenuatodentatus    2
apiculata            2
gracilis             2
macounii             2
albida               2
argentea             2
floribundus          2
fastigiata           1
eleyi                1
rubrum               1
pulchellus           1
occidentalis         1
nanus                1
australe             1
glauca               1
myrtifolia           1
epilosum             1
podocarpa            1
ericoides            1
alpinum              1
americanum           1
brevipes             1
watsoniana           1
inermis              1
alba                 1
jonesii              1
rotundifolia         1
isophylla            1
malonyana            1
yunnanensis          1
johnsonii            1
erubescens           1
subtrifarium         1
propagulosa          1
dalecarlica          1
acuteramosum         1
turgescens           1
crassicostatum       1
decurrens            1
manshurica           1
obtusus              1
heterophyllum        1
homophyllum          1
lutea                1
fluitans             1
virginica            1
brevialata           1
vellaeus             1
reductiseta          1
australis            1
atrorubens           1
acutifolia           1
albiflorus           1
lanceolatus          1
roseus               1
priceana             1
Name: Forma, dtype: int64
--------------
L.                            6609
A. Gray                       2425
Nutt.                         1636
Greene                        1617
S. Watson                     1015
                              ...
F. Muell. ex Miq.                1
W. Hill ex Maid.                 1
(Groenl.) Rose                   1
auct. non Planch. & Linden       1
(Malta) Nyholm                   1
Name: Genera_Binomial_Author, Length: 20255, dtype: int64
--------------
A. Gray                              494
Fernald                              407
L.                                   404
Sherff                               352
S. Watson                            185
                                    ...
(Durand) Rollins                       1
(S. Watson ex Coville) R.A. Price      1
(J.T. Howell) Twisselmann              1
(Botsch.) Grierson                     1
(E. Britton ex Malta) Grout            1
Name: Trinomial_Author, Length: 11690, dtype: int64
--------------
C.L. Hitchc.                          13
L.                                    10
C.L. Hitchc. & Maguire                 6
(L.C. Anderson) G.L. Nesom & Baird     5
(A. Gray) G.L. Nesom & Baird           5
                                      ..
MÃ¼ll. Frib.                            1
(Scribn.) C.L. Hitchc.                 1
Leyss.                                 1
(S. Watson) S. Watson                  1
Iltis & Doebley                        1
Name: Quadranomial_Author, Length: 225, dtype: int64
--------------
Series([], Name: Questionable_Taxon_Indicator, dtype: int64)
--------------
[canescens Ã— lachenalii]                    2
[aquatica Ã— arvensis]                       2
[Elymus macrourus Ã— Hordeum jubatum]        2
[maxima Ã— reticulata]                       2
[subspathacea Ã— bigelowii]                  2
                                           ..
[Elymus mollis Ã— Hordeum jubatum]           1
[hystrix Ã— virginicus]                      1
[glaucus Ã— elymoides or multisetus]         1
[Elymus trachycaulus Ã— Leymus innovatus]    1
[baccata Ã— elata]                           1
Name: Parents, Length: 1068, dtype: int64
--------------
rim lichen                  127
dot lichen                  105
wart lichen                 104
lecidea lichen              101
cup lichen                   92
                           ...
eremocitrus                   1
false wheatgrass              1
eremocrinum                   1
eremogone                     1
Reinwardt's zygodon moss      1
Name: Common_Name, Length: 31247, dtype: int64
--------------
USA (CA)                                                                                                                                                                                       3487
USA (HI)                                                                                                                                                                                       1875
USA+ (PR)                                                                                                                                                                                      1574
USA (TX)                                                                                                                                                                                       1155
USA (FL)                                                                                                                                                                                        682
                                                                                                                                                                                               ...
USA (DC, HI, LA, MA, MD, NY, OH, PA, TX, VA), USA+ (PR, VI)                                                                                                                                       1
USA (CT, KS, ME, NH, NY, PA, RI, VA, VT)                                                                                                                                                          1
USA (AK, CO, CT, DC, DE, ID, IL, IN, KY, MA, MD, ME, MI, MN, MT, NH, NJ, NY, OH, OR, PA, RI, UT, VA, VT, WA, WI, WV), CAN (AB, BC, MB, NB, NF, NS, ON, PE, QC, SK, YT), DEN (GL), FRA (SPM)       1
USA (AZ, CO, KS, NM, SD, UT, WY)                                                                                                                                                                  1
USA (AL, AR, CA, FL, GA, HI, IL, LA, MA, ME, MS, NC, NY, OH, OR, PA, SC, TX, WA, WV), CAN (BC, ON)                                                                                                1
Name: State_and_Province, Length: 10921, dtype: int64
--------------
Dicot         31496
Monocot        7697
Lichen         4610
Moss           1842
Fern           1198
Liverwort       933
Gymnosperm      359
Lycopod         142
Quillwort        60
Hornwort         24
Horsetail        24
Green alga        5
RA                4
Whisk-fern        4
Name: Category, dtype: int64
--------------
Asteraceae          4885
Fabaceae            3788
Poaceae             3044
Rosaceae            1519
Cyperaceae          1418
                    ...
Winteraceae            2
Capnodiaceae           2
Eigleraceae            2
Nepenthaceae           2
Zannichelliaceae       2
Name: Family, Length: 547, dtype: int64
--------------
ASTERA    4885
FABACE    3788
POACEA    3044
ROSACE    1519
CYPERA    1418
          ...
WINTER       2
CAPNOD       2
EIGLER       2
NEPENT       2
ZANNIC       2
Name: Family_Symbol, Length: 547, dtype: int64
--------------
Aster family              4885
Pea family                3788
Grass family              3044
Rose family               1519
Sedge family              1418
                          ...
Hanging Fern family          2
Moschatel family             2
Posidonia family             2
Pomegranate family           2
Horned pondweed family       2
Name: Family_Common_Name, Length: 311, dtype: int64
--------------
Asterales          4885
Cyperales          4462
Fabales            3788
Lecanorales        2734
Rosales            2312
                   ...
Andreaeobryales       2
Rafflesiales          2
Caulerpales           2
Onygenales            2
Capnodiales           2
Name: xOrder, Length: 156, dtype: int64
--------------
Asteridae                  12149
Rosidae                    10470
Commelinidae                4860
Dilleniidae                 3990
Caryophyllidae              2917
Liliidae                    2056
Bryidae                     1730
Magnoliidae                 1236
Jungermanniae                805
Hamamelididae                734
Arecidae                     354
Alismatidae                  237
Zingiberidae                 188
Marchantiae                  128
Sphagnidae                    88
Andreaeidae                   21
Holobasidiomycetidae          21
Phragmobasidiomycetidae       18
Name: SubClass, dtype: int64
--------------
Magnoliopsida                    31496
Liliopsida                        7695
Ascomycetes                       4409
Bryopsida                         1730
Filicopsida                       1198
Hepaticopsida                      933
Pinopsida                          316
Lycopodiopsida                     202
Uncertain Ascomycota Class         153
Sphagnopsida                        88
Basidiomycetes                      39
Gnetopsida                          26
Anthocerotopsida                    24
Equisetopsida                       24
Andreaeopsida                       21
Cycadopsida                         15
Uncertain Basidiomycota Class        6
Psilopsida                           4
Florideophyceae                      4
Takakiopsida                         3
Ulvophyceae                          3
Ustomycetes                          3
Ginkgoopsida                         2
Chlorophyceae                        2
Name: Class, dtype: int64
--------------
Magnoliophyta       39191
Ascomycota           4562
Bryophyta            1842
Pteridophyta         1198
Hepaticophyta         933
Coniferophyta         316
Lycopodiophyta        202
Basidiomycota          48
Gnetophyta             26
Anthocerotophyta       24
Equisetophyta          24
Cycadophyta            15
Chlorophyta             5
Rhodophyta              4
Psilophyta              4
Ginkgophyta             2
Name: Division, dtype: int64
--------------
Perennial                      25296
Annual                          4923
Annual, Perennial                813
Biennial, Perennial              426
Annual, Biennial                 339
Annual, Biennial, Perennial      225
Biennial                         204
Perennial, Annual                  1
Annual, Perennial, Biennial        1
Name: Duration, dtype: int64
--------------
Forb/herb                           17251
Graminoid                            4324
Lichenous                            4102
Nonvascular                          2366
Subshrub, Forb/herb                  2310
                                    ...
Subshrub, Shrub, Forb/herb, Vine        1
Graminoid, Shrub, Vine                  1
Tree, Vine                              1
Tree, Shrub, Subshrub, Graminoid        1
Subshrub, Shrub, Forb/herb, Tree        1
Name: Growth_Habit, Length: 63, dtype: int64
--------------
L48 (N)                              16756
NA (N)                                6471
L48 (N), CAN (N)                      3147
L48 (I)                               1991
HI (N)                                1480
                                     ...
L48 (NI), PR (I)                         1
L48 (I), AK (I), CAN (W), SPM (I)        1
L48 (N), AK (I), PR (I), CAN (N)         1
HI (N), CAN (N)                          1
L48 (I), HI (N)                          1
Name: Native_Status, Length: 347, dtype: int64
--------------
HI (NW)                                                                                                                                                                                                                         56
AL (CAW), CA (Q), FL (NW), MA (P), MN (PNW), NC (CAW), OR (Q), SC (PP), VT (CAW)                                                                                                                                                29
AL (CAW), CA (Q), MN (PNW), NC (CAW), OR (Q), SC (PP), VT (CAW)                                                                                                                                                                 22
CA (BW)                                                                                                                                                                                                                         21
CA (AW)                                                                                                                                                                                                                         19
                                                                                                                                                                                                                                ..
CT (INB)                                                                                                                                                                                                                         1
CO (AW), CT (PIB), MA (P)                                                                                                                                                                                                        1
AK (NW), AZ (PNW), CA (AW), CO (BW), CT (IB), HI (NW), IA (PRNW), ID (NW), KS (NW), MA (P), MN (PNW), MT (CAT1), ND (NW), NE (NW), NM (CAW), NV (NW), OR (BDW, Q), SD (NW, RNPS), UT (NW), WA (CBW, NWSPQ), WI (NW), WY (NW)     1
CO (AW), OR (BDW, Q)                                                                                                                                                                                                             1
CA (AW), ID (NW), OR (ADW, Q), WA (CAW, NWSPQ)                                                                                                                                                                                   1
Name: State_Noxious_Status, Length: 282, dtype: int64
--------------
AL (mesquite), CA (mesquite), MN (mesquite), NC (mesquite), OR (mesquite), SC (mesquite), VT (mesquite)                                                                                                                         20
AL (Cape tulip), CA (Cape tulip), MA (Cape tulip), MN (Cape tulip), NC (Cape tulip), OR (Cape tulip), VT (Cape tulip)                                                                                                            5
AR (thistle)                                                                                                                                                                                                                     4
HI (Scotch broom)                                                                                                                                                                                                                2
HI (banana passionfruit, banaba poka)                                                                                                                                                                                            2
                                                                                                                                                                                                                                ..
WA (blueweed, blueweed, blue thistle, blue devil, viper's bugloss, snake flower)                                                                                                                                                 1
OR (Paterson's curse)                                                                                                                                                                                                            1
AR (barnyardgrass)                                                                                                                                                                                                               1
AL (alfombrilla), AZ (alfombrilla, lightning weed), CA (alfombrilla), FL (lightning weed), MA (alfombrilla), MN (alfombrilla), NC (sandwort drymary), NM (alfombrilla), OR (alfombrilla), SC (alfombrilla), VT (alfombrilla)     1
CA (Syrian beancaper), ID (Syrian beancaper), OR (Syrian bean-caper), WA (Syrian bean-caper, Syrian beancaper)                                                                                                                   1
Name: State_Noxious_Common_Name, Length: 573, dtype: int64
--------------
STATE                                            248
SWSS                                             131
HEAR                                             109
STATE, US                                         85
WSWS                                              81
                                                ...
Cal-IPC, NE&GP, STATE, WI, WSWS                    1
Cal-IPC, FLEPPC, STATE, SWSS                       1
Cal-IPC, HEAR, NE&GP, SEEPPC, STATE, WI, WSWS      1
KY, N'EAST, SEEPPC, STATE, SWSS, WSWS              1
Cal-IPC, SEEPPC                                    1
Name: Invasive, Length: 166, dtype: int64
--------------
FL (E)                            355

In [45]:
# split columns by type and use case
med_int_list = ['Seeds_per_Pound','Planting_Density_per_Acre_Minimum','Temperature_Minimum_F','Root_Depth_Minimum_inches','Precipitation_Maximum','Precipitation_Minimum','Planting_Density_per_Acre_Maximum','Planting_Density_per_Acre_Minimum','pH_Maximum','pH_Minimum','Frost_Free_Days_Minimum','Height_Mature_feet','Height_at_Base_Age_Maximum_feet','id']
med_str_list = ['Genus','Fruit_Seed_Period_End','Bloom_Period','Shape_and_Orientation','Growth_Form','Fruit_Color','Foliage_Color','Flower_Color','Scientific_Name_y','Synonym_Symbol_y','Accepted_Symbol_y','Division','Class','SubClass','xOrder','Family_Common_Name','Family_Symbol','Family','Category','Common_Name','Parents','Quadranomial_Author','Trinomial_Author','Genera_Binomial_Author','Forma','Subvariety','Variety','Subspecies','Species','Scientific_Name_x','Synonym_Symbol_x','Accepted_Symbol_x','Symbol']
med_npa_list = ['Active_Growth_Period','State_T_E_Common_Name','State_T_E_Status','Native_Status','Growth_Habit','Duration']
target_npa_col = ['State_Noxious_Common_Name','Invasive','State_Noxious_Status','State_and_Province','Questionable_Taxon_Indicator','Unnamed']

In [46]:
len(med_unique_list)

59

In [47]:
len(med_int_list)

14

In [48]:
len(med_str_list)

33

In [49]:
len(med_npa_list)

6

In [50]:
len(target_npa_col)

6

In [51]:
len(med_int_list) + len(med_str_list) + len(med_npa_list) + len(target_npa_col)

59

## CHECK/FACTORIZE/CHECK med_str_list

In [52]:
# check rate of na values in high variety columns
for x in med_str_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
91113
--------------
91098
--------------
91090
--------------
91090
--------------
91117
--------------
91090
--------------
91122
--------------
91060
--------------
92141
--------------
91060
--------------
43775
--------------
43775
--------------
50169
--------------
43858
--------------
51092
--------------
43773
--------------
43775
--------------
43773
--------------
48971
--------------
91097
--------------
91862
--------------
66679
--------------
4984
--------------
92108
--------------
92163
--------------
72849
--------------
85730
--------------
5011
--------------
0
--------------
48398
--------------
0
--------------
0
--------------

In [53]:
# check name of unique values in high variety columns
for x in med_str_list:
    print(df[x].value_counts())
    print("--------------")

Carex          1288
Astragalus      996
Lupinus         906
Salix           851
Eriogonum       801
               ...
Garysmithia       1
Galatea           1
Sargentia         1
Gaurella          1
Zygocactus        1
Name: Genus, Length: 6877, dtype: int64
--------------
Fall          527
Summer        452
Spring         51
Winter         19
Year Round      9
Name: Fruit_Seed_Period_End, dtype: int64
--------------
Late Spring      335
Mid Spring       182
Early Spring     100
Early Summer      99
Late Summer       87
Spring            85
Mid Summer        84
Summer            64
Indeterminate     22
Fall               7
Late Winter        5
Winter             3
Name: Bloom_Period, dtype: int64
--------------
Erect         708
Semi-Erect    156
Decumbent      79
Rounded        46
Prostrate      36
Irregular      17
Conical        16
Climbing       11
Vase            7
Columnar        3
Oval            2
Name: Shape_and_Orientation, dtype: int64
--------------
Multiple Stem      265
Bunch              248
Rhizomatous        209
Single Crown       136
Single Stem        130
Stoloniferous       48
Thicket Forming     35
Colonizing          10
Name: Growth_Form, dtype: int64
--------------
Brown     721
Black     108
Red        79
White      45
Yellow     27
Purple     25
Green      21
Blue       20
Orange      8
Name: Fruit_Color, dtype: int64
--------------
Green           897
Dark Green       85
Gray-Green       59
Yellow-Green     19
White-Gray       19
Red               2
Name: Foliage_Color, dtype: int64
--------------
Yellow    433
White     246
Green     145
Purple    111
Red        46
Blue       33
Brown      22
Orange     13
Name: Flower_Color, dtype: int64
--------------
Abies balsamea                  1
Oenothera elata ssp. hookeri    1
Opuntia polyacantha             1
Opuntia ficus-indica            1
Olneya tesota                   1
                               ..
Cornus racemosa                 1
Cornus sericea ssp. sericea     1
Crepis acuminata                1
Crataegus aestivalis            1
Zizania aquatica                1
Name: Scientific_Name_y, Length: 1111, dtype: int64
--------------
ALAL2     1
AQCA2     1
VACA13    1
SEFR      1
ROEG      1
RHHI2     1
PITH3     1
PIMI7     1
PHPY4     1
PALI7     1
MEIN14    1
MASIZ     1
MASI80    1
LOPR7     1
LOAR10    1
KOAM      1
JUBA      1
FETR3     1
EUMAM     1
EUFI      1
EUAT3     1
DECA18    1
DAFL3     1
CUAR      1
CEPA8     1
CAGI7     1
CAAL27    1
BUDA      1
ARGIT8    1
VIDEL     1
Name: Synonym_Symbol_y, dtype: int64
--------------
MEIN2    2
DECE     2
RHTY     2
VACE     2
DAFRF    2
        ..
CORA6    1
COSES    1
CRAC2    1
CRAE     1
ZIAQ     1
Name: Accepted_Symbol_y, Length: 1081, dtype: int64
--------------
Magnoliophyta       39191
Ascomycota           4562
Bryophyta            1842
Pteridophyta         1198
Hepaticophyta         933
Coniferophyta         316
Lycopodiophyta        202
Basidiomycota          48
Gnetophyta             26
Anthocerotophyta       24
Equisetophyta          24
Cycadophyta            15
Chlorophyta             5
Rhodophyta              4
Psilophyta              4
Ginkgophyta             2
Name: Division, dtype: int64
--------------
Magnoliopsida                    31496
Liliopsida                        7695
Ascomycetes                       4409
Bryopsida                         1730
Filicopsida                       1198
Hepaticopsida                      933
Pinopsida                          316
Lycopodiopsida                     202
Uncertain Ascomycota Class         153
Sphagnopsida                        88
Basidiomycetes                      39
Gnetopsida                          26
Anthocerotopsida                    24
Equisetopsida                       24
Andreaeopsida                       21
Cycadopsida                         15
Uncertain Basidiomycota Class        6
Psilopsida                           4
Florideophyceae                      4
Takakiopsida                         3
Ulvophyceae                          3
Ustomycetes                          3
Ginkgoopsida                         2
Chlorophyceae                        2
Name: Class, dtype: int64
--------------
Asteridae                  12149
Rosidae                    10470
Commelinidae                4860
Dilleniidae                 3990
Caryophyllidae              2917
Liliidae                    2056
Bryidae                     1730
Magnoliidae                 1236
Jungermanniae                805
Hamamelididae                734
Arecidae                     354
Alismatidae                  237
Zingiberidae                 188
Marchantiae                  128
Sphagnidae                    88
Andreaeidae                   21
Holobasidiomycetidae          21
Phragmobasidiomycetidae       18
Name: SubClass, dtype: int64
--------------
Asterales          4885
Cyperales          4462
Fabales            3788
Lecanorales        2734
Rosales            2312
                   ...
Andreaeobryales       2
Rafflesiales          2
Caulerpales           2
Onygenales            2
Capnodiales           2
Name: xOrder, Length: 156, dtype: int64
--------------
Aster family              4885
Pea family                3788
Grass family              3044
Rose family               1519
Sedge family              1418
                          ...
Hanging Fern family          2
Moschatel family             2
Posidonia family             2
Pomegranate family           2
Horned pondweed family       2
Name: Family_Common_Name, Length: 311, dtype: int64
--------------
ASTERA    4885
FABACE    3788
POACEA    3044
ROSACE    1519
CYPERA    1418
          ...
WINTER       2
CAPNOD       2
EIGLER       2
NEPENT       2
ZANNIC       2
Name: Family_Symbol, Length: 547, dtype: int64
--------------
Asteraceae          4885
Fabaceae            3788
Poaceae             3044
Rosaceae            1519
Cyperaceae          1418
                    ...
Winteraceae            2
Capnodiaceae           2
Eigleraceae            2
Nepenthaceae           2
Zannichelliaceae       2
Name: Family, Length: 547, dtype: int64
--------------
Dicot         31496
Monocot        7697
Lichen         4610
Moss           1842
Fern           1198
Liverwort       933
Gymnosperm      359
Lycopod         142
Quillwort        60
Hornwort         24
Horsetail        24
Green alga        5
RA                4
Whisk-fern        4
Name: Category, dtype: int64
--------------
rim lichen                  127
dot lichen                  105
wart lichen                 104
lecidea lichen              101
cup lichen                   92
                           ...
eremocitrus                   1
false wheatgrass              1
eremocrinum                   1
eremogone                     1
Reinwardt's zygodon moss      1
Name: Common_Name, Length: 31247, dtype: int64
--------------
[canescens Ã— lachenalii]                    2
[aquatica Ã— arvensis]                       2
[Elymus macrourus Ã— Hordeum jubatum]        2
[maxima Ã— reticulata]                       2
[subspathacea Ã— bigelowii]                  2
                                           ..
[Elymus mollis Ã— Hordeum jubatum]           1
[hystrix Ã— virginicus]                      1
[glaucus Ã— elymoides or multisetus]         1
[Elymus trachycaulus Ã— Leymus innovatus]    1
[baccata Ã— elata]                           1
Name: Parents, Length: 1068, dtype: int64
--------------
C.L. Hitchc.                          13
L.                                    10
C.L. Hitchc. & Maguire                 6
(L.C. Anderson) G.L. Nesom & Baird     5
(A. Gray) G.L. Nesom & Baird           5
                                      ..
MÃ¼ll. Frib.                            1
(Scribn.) C.L. Hitchc.                 1
Leyss.                                 1
(S. Watson) S. Watson                  1
Iltis & Doebley                        1
Name: Quadranomial_Author, Length: 225, dtype: int64
--------------
A. Gray                              494
Fernald                              407
L.                                   404
Sherff                               352
S. Watson                            185
                                    ...
(Durand) Rollins                       1
(S. Watson ex Coville) R.A. Price      1
(J.T. Howell) Twisselmann              1
(Botsch.) Grierson                     1
(E. Britton ex Malta) Grout            1
Name: Trinomial_Author, Length: 11690, dtype: int64
--------------
L.                            6609
A. Gray                       2425
Nutt.                         1636
Greene                        1617
S. Watson                     1015
                              ...
F. Muell. ex Miq.                1
W. Hill ex Maid.                 1
(Groenl.) Rose                   1
auct. non Planch. & Linden       1
(Malta) Nyholm                   1
Name: Genera_Binomial_Author, Length: 20255, dtype: int64
--------------
attenuatodentatus    2
apiculata            2
gracilis             2
macounii             2
albida               2
argentea             2
floribundus          2
fastigiata           1
eleyi                1
rubrum               1
pulchellus           1
occidentalis         1
nanus                1
australe             1
glauca               1
myrtifolia           1
epilosum             1
podocarpa            1
ericoides            1
alpinum              1
americanum           1
brevipes             1
watsoniana           1
inermis              1
alba                 1
jonesii              1
rotundifolia         1
isophylla            1
malonyana            1
yunnanensis          1
johnsonii            1
erubescens           1
subtrifarium         1
propagulosa          1
dalecarlica          1
acuteramosum         1
turgescens           1
crassicostatum       1
decurrens            1
manshurica           1
obtusus              1
heterophyllum        1
homophyllum          1
lutea                1
fluitans             1
virginica            1
brevialata           1
vellaeus             1
reductiseta          1
australis            1
atrorubens           1
acutifolia           1
albiflorus           1
lanceolatus          1
roseus               1
priceana             1
Name: Forma, dtype: int64
--------------
mohrii           1
tetrastachyum    1
torreyanum       1
hallii           1
genuina          1
arctatus         1
tenuisecta       1
metzgeri         1
Name: Subvariety, dtype: int64
--------------
pubescens        102
angustifolia      90
occidentalis      84
minor             71
major             71
                ...
bisanctus          1
brevicaule         1
nudatus            1
bellidiastrum      1
viridissimus       1
Name: Variety, Length: 7649, dtype: int64
--------------
occidentalis    45
californica     36
arctica         32
australis       28
typica          26
                ..
concinnum        1
eurekense        1
medium           1
yadonii          1
mays             1
Name: Subspecies, Length: 3428, dtype: int64
--------------
californica      390
occidentalis     295
americana        203
canadensis       199
angustifolia     188
                ...
illinoinensis      1
cymbaria           1
zanonii            1
depressulum        1
todsenii           1
Name: Species, Length: 20631, dtype: int64
--------------
Carex sonomensis Stacey                                                       2
Escobaria tuberculosa (Engelm.) Britton & Rose                                2
Quercus prinus L. p.p., nom. utique rej.                                      2
Sarracenia purpurea L. ssp. purpurea var. montana D.E. Schnell & Determann    2
Acer barbatum Michx. p.p.                                                     2
                                                                             ..
Ehretia anacua (TerÃ¡n & Berl.) I.M. Johnst.                                   1
Egletes viscosa (L.) Less.                                                    1
Egletes prostrata (Sw.) Kuntze                                                1
Egletes Cass.                                                                 1
Zygodon vulgaris (Malta) Nyholm                                               1
Name: Scientific_Name_x, Length: 92163, dtype: int64
--------------
ABAB2     1
PAFEP     1
PAFA6     1
PAFA7     1
PAFA8     1
         ..
ELAR10    1
ELAR11    1
ELAR12    1
ELAR13    1
ZYVU      1
Name: Synonym_Symbol_x, Length: 43773, dtype: int64
--------------
MIGU      70
IRHEH     69
TEOA      54
DECE      46
CRSU5     44
          ..
LAPOP      1
LAPOH      1
CAGR37     1
LAPO3      1
HEAM6      1
Name: Accepted_Symbol_x, Length: 48398, dtype: int64
--------------
ABAB     1
PAGY2    1
PAGUB    1
PAGU4    1
PAGU3    1
        ..
EGPR     1
EGLET    1
EGERI    1
EGDE     1
ZYVU     1
Name: Symbol, Length: 92171, dtype: int64
--------------

In [54]:
# replace single column value with numerics
for x in med_str_list:
    df[x] = pd.factorize(df[x], na_sentinel=None)[0]

In [55]:
# check name of unique values in high variety columns
for x in med_str_list:
    print(df[x].value_counts())
    print("--------------")

1004    1288
552      996
3862     906
5638     851
2358     801
        ...
2635       1
2637       1
5663       1
2639       1
6876       1
Name: Genus, Length: 6877, dtype: int64
--------------
5    91113
0      527
1      452
2       51
3       19
4        9
Name: Fruit_Seed_Period_End, dtype: int64
--------------
12    91098
1       335
2       182
6       100
4        99
3        87
7        85
0        84
5        64
11       22
8         7
9         5
10        3
Name: Bloom_Period, dtype: int64
--------------
11    91090
1       708
2       156
4        79
3        46
5        36
7        17
0        16
6        11
9         7
10        3
8         2
Name: Shape_and_Orientation, dtype: int64
--------------
8    91090
1      265
4      248
2      209
3      136
0      130
6       48
5       35
7       10
Name: Growth_Form, dtype: int64
--------------
9    91117
0      721
2      108
4       79
6       45
5       27
1       25
3       21
8       20
7        8
Name: Fruit_Color, dtype: int64
--------------
6    91090
0      897
1       85
3       59
2       19
4       19
5        2
Name: Foliage_Color, dtype: int64
--------------
8    91122
0      433
6      246
5      145
2      111
1       46
4       33
3       22
7       13
Name: Flower_Color, dtype: int64
--------------
1111    91060
738         1
744         1
743         1
742         1
        ...
375         1
376         1
377         1
378         1
1110        1
Name: Scientific_Name_y, Length: 1112, dtype: int64
--------------
30    92141
15        1
28        1
27        1
26        1
25        1
24        1
23        1
22        1
21        1
20        1
19        1
18        1
17        1
16        1
14        1
0         1
13        1
12        1
11        1
10        1
9         1
8         1
7         1
6         1
5         1
4         1
3         1
2         1
1         1
29        1
Name: Synonym_Symbol_y, dtype: int64
--------------
1081    91060
153         2
460         2
93          2
456         2
        ...
369         1
370         1
371         1
372         1
1080        1
Name: Accepted_Symbol_y, Length: 1082, dtype: int64
--------------
16    43775
0     39191
3      4562
1      1842
4      1198
5       933
2       316
14      202
7        48
10       26
11       24
6        24
9        15
8         5
13        4
15        4
12        2
Name: Division, dtype: int64
--------------
24    43775
0     31496
4      7695
5      4409
1      1730
6      1198
7       933
2       316
19      202
3       153
21       88
10       39
15       26
16       24
8        24
9        21
13       15
11        6
18        4
20        4
14        3
22        3
23        3
17        2
12        2
Name: Class, dtype: int64
--------------
18    50169
3     12149
5     10470
4      4860
0      3990
2      2917
9      2056
1      1730
7      1236
8       805
11      734
6       354
12      237
10      188
14      128
17       88
13       21
15       21
16       18
Name: SubClass, dtype: int64
--------------
156    43858
10      4885
6       4462
7       3788
9       2734
       ...
102        2
141        2
104        2
122        2
139        2
Name: xOrder, Length: 157, dtype: int64
--------------
311    51092
6       4885
5       3788
10      3044
7       1519
       ...
185        2
34         2
283        2
285        2
310        2
Name: Family_Common_Name, Length: 312, dtype: int64
--------------
547    43773
10      4885
7       3788
14      3044
11      1519
       ...
320        2
321        2
323        2
457        2
546        2
Name: Family_Symbol, Length: 548, dtype: int64
--------------
547    43775
10      4885
7       3788
14      3044
11      1519
       ...
320        2
321        2
323        2
457        2
546        2
Name: Family, Length: 548, dtype: int64
--------------
14    43773
0     31496
4      7697
3      4610
1      1842
5      1198
6       933
2       359
11      142
12       60
7        24
9        24
8         5
10        4
13        4
Name: Category, dtype: int64
--------------
31247    48971
16277      127
1798       105
23171      104
16279      101
         ...
11293        1
11292        1
11290        1
11289        1
31246        1
Name: Common_Name, Length: 31248, dtype: int64
--------------
1068    91097
362         2
582         2
123         2
127         2
        ...
364         1
365         1
366         1
367         1
1067        1
Name: Parents, Length: 1069, dtype: int64
--------------
225    91862
31        13
0         10
192        6
63         5
       ...
102        1
26         1
25         1
105        1
224        1
Name: Quadranomial_Author, Length: 226, dtype: int64
--------------
11690    66679
96         494
5          407
49         404
825        352
         ...
4773         1
4774         1
4775         1
4776         1
11689        1
Name: Trinomial_Author, Length: 11691, dtype: int64
--------------
76       6609
20255    4984
34       2425
144      1636
10       1617
         ...
8990        1
8991        1
8993        1
8994        1
20254       1
Name: Genera_Binomial_Author, Length: 20256, dtype: int64
--------------
56    92108
28        2
2         2
32        2
34        2
9         2
20        2
18        2
41        1
33        1
35        1
36        1
37        1
38        1
39        1
40        1
43        1
42        1
30        1
44        1
45        1
46        1
47        1
48        1
49        1
50        1
51        1
52        1
53        1
54        1
31        1
27        1
29        1
13        1
1         1
3         1
4         1
5         1
6         1
7         1
8         1
10        1
11        1
12        1
14        1
0         1
15        1
16        1
17        1
19        1
21        1
22        1
23        1
24        1
25        1
26        1
55        1
Name: Forma, dtype: int64
--------------
8    92163
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
Name: Subvariety, dtype: int64
--------------
7649    72849
37        102
488        90
101        84
240        71
        ...
3757        1
3756        1
3754        1
3753        1
7648        1
Name: Variety, Length: 7650, dtype: int64
--------------
3428    85730
45         45
18         36
269        32
578        28
        ...
1796        1
1797        1
1798        1
1799        1
3427        1
Name: Subspecies, Length: 3429, dtype: int64
--------------
20631    5011
224       390
553       295
10        203
225       199
         ...
6274        1
12702       1
3430        1
12705       1
12451       1
Name: Species, Length: 20632, dtype: int64
--------------
17329    2
34446    2
72449    2
77815    2
292      2
        ..
30721    1
30720    1
30719    1
30718    1
92162    1
Name: Scientific_Name_x, Length: 92163, dtype: int64
--------------
43773    48398
29184        1
29176        1
29177        1
29178        1
         ...
14592        1
14593        1
14594        1
14595        1
43772        1
Name: Synonym_Symbol_x, Length: 43774, dtype: int64
--------------
31829    70
26276    69
45324    54
1499     46
14654    44
         ..
27541     1
27540     1
9639      1
27538     1
24199     1
Name: Accepted_Symbol_x, Length: 48398, dtype: int64
--------------
0        1
61454    1
61452    1
61451    1
61450    1
        ..
30722    1
30721    1
30720    1
30719    1
92170    1
Name: Symbol, Length: 92171, dtype: int64
--------------

In [56]:
# check rate of na values in high variety columns
for x in med_str_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

In [57]:
df['Active_Growth_Period'].value_counts()

Spring and Summer          701
Spring, Summer, Fall       116
Spring                      89
Summer                      84
Summer and Fall             32
Fall, Winter and Spring     25
Spring and Fall             20
Year Round                  12
Name: Active_Growth_Period, dtype: int64

In [58]:
# check rate of na values in high variety columns
for x in med_npa_list:
    print(df[x].isna().sum())
    print("--------------")

91092
--------------
87139
--------------
86924
--------------
53845
--------------
52693
--------------
59943
--------------

In [59]:
# check rate of na values in high variety columns
for x in med_npa_list:
    print(df[x].value_counts())
    print("--------------")

Spring and Summer          701
Spring, Summer, Fall       116
Spring                      89
Summer                      84
Summer and Fall             32
Fall, Winter and Spring     25
Spring and Fall             20
Year Round                  12
Name: Active_Growth_Period, dtype: int64
--------------
TN (a liverwort)                                                                                                      12
MN (a species of lichen)                                                                                              11
NJ (sphagnum)                                                                                                         10
KY (a moss)                                                                                                           10
AZ (Missouri foxtail cactus)                                                                                           5
                                                                                                                      ..
MA (few-flowered spike-sedge), ME (few-flowered spikerush)                                                             1
NY (angled spikerush), PA (four-angled spike-rush), WI (squarestem spikerush)                                          1
NH (few-flowered spike-rush), PA (few-flowered spike-rush)                                                             1
IL (few-flowered spike rush), NJ (few-flower spike-rush), OH (few-flowered spikerush), VT (few-flowered spikerush)     1
ME (water stargrass)                                                                                                   1
Name: State_T_E_Common_Name, Length: 4872, dtype: int64
--------------
FL (E)                            355
AZ (SR)                           252
WA (S)                            156
CA (E)                            121
NY (E)                             97
                                 ...
IL (), NY ()                        1
IL (E), NY (E)                      1
CT (E), IN (E), OH (T), PA (X)      1
MD (E, X), MI (T), OH (T)           1
FL (E), NJ (E), TN (T)              1
Name: State_T_E_Status, Length: 1645, dtype: int64
--------------
L48 (N)                              16756
NA (N)                                6471
L48 (N), CAN (N)                      3147
L48 (I)                               1991
HI (N)                                1480
                                     ...
L48 (NI), PR (I)                         1
L48 (I), AK (I), CAN (W), SPM (I)        1
L48 (N), AK (I), PR (I), CAN (N)         1
HI (N), CAN (N)                          1
L48 (I), HI (N)                          1
Name: Native_Status, Length: 347, dtype: int64
--------------
Forb/herb                           17251
Graminoid                            4324
Lichenous                            4102
Nonvascular                          2366
Subshrub, Forb/herb                  2310
                                    ...
Subshrub, Shrub, Forb/herb, Vine        1
Graminoid, Shrub, Vine                  1
Tree, Vine                              1
Tree, Shrub, Subshrub, Graminoid        1
Subshrub, Shrub, Forb/herb, Tree        1
Name: Growth_Habit, Length: 63, dtype: int64
--------------
Perennial                      25296
Annual                          4923
Annual, Perennial                813
Biennial, Perennial              426
Annual, Biennial                 339
Annual, Biennial, Perennial      225
Biennial                         204
Perennial, Annual                  1
Annual, Perennial, Biennial        1
Name: Duration, dtype: int64
--------------

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92171 entries, 0 to 92170
Columns: 135 entries, Unnamed: 0 to Genus
dtypes: float64(13), int64(111), object(11)
memory usage: 94.9+ MB

In [61]:
df.head()

,Unnamed: 0,id,Symbol,Accepted_Symbol_x,Synonym_Symbol_x,Scientific_Name_x,Hybrid_Genus_Indicator,Hybrid_Species_Indicator,Species,Subspecies_Prefix,...,Naval_Store_Product,Nursery_Stock_Product,Palatable_Browse_Animal,Palatable_Graze_Animal,Palatable_Human,Post_Product,Protein_Potential,Pulpwood_Product,Veneer_Product,Genus
0,0,1,0,0,43773,0,0,0,0,0,...,2,2,3,3,2,2,2,2,2,0
1,1,2,1,1,0,1,0,0,1,0,...,2,2,3,3,2,2,2,2,2,1
2,2,3,2,2,1,2,0,0,2,0,...,2,2,3,3,2,2,2,2,2,0
3,3,4,3,3,43773,3,0,0,3,0,...,2,2,3,3,2,2,2,2,2,2
4,4,5,4,4,2,4,0,0,4,0,...,2,2,3,3,2,2,2,2,2,3

## fillna for med_int_list

In [62]:
# check rate of na values in high variety columns
# check rate of na values in high variety columns
for x in med_int_list:
    print(df[x].isna().sum())
    print("--------------")

91288
--------------
91403
--------------
91092
--------------
91090
--------------
91097
--------------
91097
--------------
91404
--------------
91403
--------------
91093
--------------
91093
--------------
91092
--------------
91091
--------------
91756
--------------
0
--------------

In [63]:
for x in med_int_list:
    df[x].fillna(0,inplace=True)

In [64]:
# check rate of na values in high variety columns
for x in med_int_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

In [65]:
# check rate of na values in high variety columns
for x in med_npa_list:
    print(df[x].isna().sum())
    print("--------------")

91092
--------------
87139
--------------
86924
--------------
53845
--------------
52693
--------------
59943
--------------

In [71]:
target_npa_col = ['State_Noxious_Common_Name',
 'Invasive',
 'State_Noxious_Status',
 'State_and_Province',
 'Questionable_Taxon_Indicator']

In [72]:
target_npa_col

['State_Noxious_Common_Name',
 'Invasive',
 'State_Noxious_Status',
 'State_and_Province',
 'Questionable_Taxon_Indicator']

In [73]:
# df = df.drop(columns=['Unnamed'])
# # 'Unnamed not found'

In [74]:
for x in target_npa_col:
    df[x].fillna(0,inplace=True)

In [75]:
# check rate of na values in high variety columns
for x in target_npa_col:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

In [76]:
# check rate of na values in high variety columns
for x in med_npa_list:
    print(df[x].isna().sum())
    print("--------------")

91092
--------------
87139
--------------
86924
--------------
53845
--------------
52693
--------------
59943
--------------

In [77]:
for x in med_npa_list:
    df[x].fillna(0,inplace=True)

In [78]:
# check rate of na values in high variety columns
for x in med_npa_list:
    print(df[x].isna().sum())
    print("--------------")

0
--------------
0
--------------
0
--------------
0
--------------
0
--------------
0
--------------

In [ ]:
# # replace single column value with numeric
# for x in rando_list:
# #     df[x].fillna(0, inplace = True)
# #     df[x].loc[~df[x].isnull()] = 1
#     df[x].fillna(0,inplace=True)
#     df[x]=df[x].apply(lambda x: 1 if x!=0 else 0)
# #     y = (df[x].unique().tolist())
# #     df[x] = df[x].map({y:1})
# #     for z in y:
# #         print(z) 

# #     df[x].replace({y:1})

# #     print(y)
# #     print(len(y)) = 2 x10
# #     df[x].replace({y:1},inplace=True)

## Enumerate columns with categorical arrays

In [79]:
state_abr_list = ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC'
,'ND','MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT','VT','VI','VA','WA','WV','WI','WY','L48']

In [ ]:
# ## for state in state_abr_list:
# ## df_core_state[state + '_Native'] = df_core_state['Native_Status'].apply(lambda x: in_state(x, state))


# ## for state in state_abr_list:
# ##    df_core[state] = df_core['State_and_Province'].apply(lambda x: in_state(x, state))
        
# ## rework code
# ### make 2 empty lists outside for loop

# ### list 1 = append new columns +Native names
# for state in state_abr_list:
#     df[state + '_Native']=0

In [ ]:
# ### list 2 = append new column from lambda loop
# for state in state_abr_list:
#     df_core_state_data = df_core_state['Native_Status'].apply(lambda x: in_state(x, state))

In [ ]:
# ### outside of for loop create new df by merging the two SAME SIZE lists
# df_core_merged = pd.merge(df_core_state,df_core_state_data, how='left', on =[])
# pd.merge

# ### concate new df onto old data frame with axis = 1 so it appends to the side not underneath/above

# #### Native_names = []
# #### Lambda_products = []

In [82]:
# # create column for each state in state_abr_list
# for x in state_abr_list:
#     df_core[x]=0

## CREATE CORE DATASET

In [ ]:
df_core = pd.DataFrame(df, columns = [
    'Accepted_Symbol_x','Hybrid_Genus_Indicator','Hybrid_Species_Indicator',
    'Species', 'Subspecies_Prefix', 'Variety',
    'Genera_Binomial_Author', 'Common_Name', 'State_and_Province',
    'Category', 'Family_Symbol', 'Family_Common_Name',
    'xOrder', 'SubClass', 'Class', 'Division',
    'SuperDivision', 'SubKingdom', 'Kingdom',
    'Duration', 'Growth_Habit', 'Native_Status',
    'Federal_T_E_Status', 'State_T_E_Status',
    'Genus','Seeds_per_Pound','Planting_Density_per_Acre_Minimum',
    'Temperature_Minimum_F', 'Root_Depth_Minimum_inches',
    'Precipitation_Maximum','Precipitation_Minimum',
    'Planting_Density_per_Acre_Maximum','Planting_Density_per_Acre_Minimum',
    'pH_Maximum','pH_Minimum','Frost_Free_Days_Minimum','Height_Mature_feet',
    'Height_at_Base_Age_Maximum_feet','Coppice_Potential', 'Fall_Conspicuous', 
    'Fire_Resistance', 'Flower_Conspicuous', 'Fruit_Conspicuous', 'Known_Allelopath', 
    'Leaf_Retention','State_Noxious_Status','Toxicity''Fruit_Seed_Abundance',
    'Seed_Spread_Rate', 'Vegetative_Spread_Rate'])

In [ ]:
def state_col(string):
    for x in state_abr_list:
        if string.find(x) != -1:
            return True
        else:
            return False

In [ ]:
def in_state(string, state):
        if string.find(state) == -1:
            return 0
        else:
            return 1

In [ ]:
df_core['State_and_Province'] = df_core['State_and_Province'].astype('string')

In [ ]:
df_core['State_and_Province'].isna().value_counts().sort_values()

In [ ]:
for state in state_abr_list:
    df_core[state] = df_core['State_and_Province'].apply(lambda x: in_state(x, state))
    if df_core[state].isna().sum() == 92171:
        df_core[state].drop(column=[df_core[state]])

In [ ]:
# create a new columns for each state with _Native string added
# without + _Native, loop would create one column and overwrite itself for each loop
for state in state_abr_list:
    df_core_state[state + '_Native'] = df_core_state['Native_Status'].apply(lambda x: in_state(x, state))

In [ ]:
# create a new columns for each state with _Native string added
# without + _Native, loop would create one column and overwrite itself for each loop
for state in state_abr_list:
    df_core_state[state + '_Native'] = df_core_state['Native_Status'].apply(lambda x: in_state(x, state))

In [ ]:
# # replace single column value with numerics
# for x in med_npa_list:
#     df[x] = pd.factorize(df[x], na_sentinel=None)[0]

In [ ]:
# # replace single column value with dummies
# for x in med_npa_list:
#     pd.get_dummies(df[x], dummy_na=True)

# CREATE ENRICHED DATASET

In [ ]:
column_list_groups = [['id', 'drop'],
 ['Symbol', 'drop'],
 ['Accepted_Symbol_x', 'shorthand for scientific name'],
 ['Synonym_Symbol_x', 'drop'],
 ['Scientific_Name_x', 'drop'],
 ['Hybrid_Genus_Indicator', 'T/F'],
 ['Hybrid_Species_Indicator', 'T/F'],
 ['Species', 'repeats'],
 ['Subspecies_Prefix', 'T/F'],
 ['Hybrid_Subspecies_Indicator', 'drop'],
 ['Subspecies', 'repeats (similar to species)'],
 ['Variety_Prefix', 'drop'],
 ['Hybrid_Variety_Indicator', 'drop'],
 ['Variety', '72k nulls some overlap with other columns'],
 ['Subvariety_Prefix', 'drop'],
 ['Subvariety', 'drop'],
 ['Forma_Prefix', 'drop'],
 ['Forma', 'drop'],
 ['Genera_Binomial_Author', 'discovering author'],
 ['Trinomial_Author', 'drop'],
 ['Quadranomial_Author', 'drop'],
 ['Questionable_Taxon_Indicator', 'drop'],
 ['Parents', 'drop'],
 ['Common_Name', 'T/F'],
 ['State_and_Province', 'is present column'],
 ['Category', 'fill na'],
 ['Family', 'drop'],
 ['Family_Symbol', 'fill na'],
 ['Family_Common_Name', 'fill na'],
 ['xOrder', 'fill na'],
 ['SubClass', 'fill na'],
 ['Class', 'fill na'],
 ['SubDivision', 'drop'],
 ['Division', 'fill na'],
 ['SuperDivision', 'fill na'],
 ['SubKingdom', 'fill na'],
 ['Kingdom', 'fill na'],
 ['Duration', 'split and fill na'],
 ['Growth_Habit', 'Split dummies and fill na'],
 ['Native_Status', 'more thought'],
 ['Federal_Noxious_Status', 'Combine with State'],
 ['State_Noxious_Status', 'Filter to NC and combine'],
 ['State_Noxious_Common_Name', 'drop'],
 ['Invasive', 'potential target'],
 ['Federal_T_E_Status', 'fill na'],
 ['State_T_E_Status', 'filter to nc'],
 ['State_T_E_Common_Name', 'drop'],
 ['Accepted_Symbol_y', 'drop'],
 ['Synonym_Symbol_y', 'drop'],
 ['Scientific_Name_y', 'drop'],
 ['Active_Growth_Period', 'Enriched Dataset'],
 ['After_Harvest_Regrowth_Rate', 'Enriched Dataset'],
 ['Bloat', 'Enriched Dataset'],
 ['C_N_Ratio', 'Enriched Dataset'],
 ['Coppice_Potential', 'Enriched Dataset'],
 ['Fall_Conspicuous', 'Enriched Dataset'],
 ['Fire_Resistance', 'Enriched Dataset'],
 ['Flower_Color', 'fill na'],
 ['Flower_Conspicuous', 'Enriched Dataset'],
 ['Foliage_Color', 'Enriched Dataset'],
 ['Foliage_Porosity_Summer', 'Enriched Dataset'],
 ['Foliage_Porosity_Winter', 'Enriched Dataset'],
 ['Foliage_Texture', 'Enriched Dataset'],
 ['Fruit_Color', 'Enriched Dataset'],
 ['Fruit_Conspicuous', 'Enriched Dataset'],
 ['Growth_Form', 'Enriched Dataset'],
 ['Growth_Rate', 'Enriched Dataset'],
 ['Height_at_Base_Age_Maximum_feet', 'Enriched Dataset'],
 ['Height_Mature_feet', 'Enriched Dataset'],
 ['Known_Allelopath', 'Enriched Dataset'],
 ['Leaf_Retention', 'Enriched Dataset'],
 ['Lifespan', 'Enriched Dataset'],
 ['Low_Growing_Grass', 'Enriched Dataset'],
 ['Nitrogen_Fixation', 'Enriched Dataset'],
 ['Resprout_Ability', 'Enriched Dataset'],
 ['Shape_and_Orientation', 'Enriched Dataset'],
 ['Toxicity', 'Enriched Dataset'],
 ['Adapted_to_Coarse_Textured_Soils', 'Enriched Dataset'],
 ['Adapted_to_Medium_Textured_Soils', 'Enriched Dataset'],
 ['Adapted_to_Fine_Textured_Soils', 'Enriched Dataset'],
 ['Anaerobic_Tolerance', 'Enriched Dataset'],
 ['CaCO_3_Tolerance', 'Enriched Dataset'],
 ['Cold_Stratification_Required', 'Enriched Dataset'],
 ['Drought_Tolerance', 'Enriched Dataset'],
 ['Fertility_Requirement', 'Enriched Dataset'],
 ['Fire_Tolerance', 'Enriched Dataset'],
 ['Frost_Free_Days_Minimum', 'Enriched Dataset'],
 ['Hedge_Tolerance', 'Enriched Dataset'],
 ['Moisture_Use', 'Enriched Dataset'],
 ['pH_Minimum', 'Enriched Dataset'],
 ['pH_Maximum', 'Enriched Dataset'],
 ['Planting_Density_per_Acre_Minimum', 'Enriched Dataset'],
 ['Planting_Density_per_Acre_Maximum', 'Enriched Dataset'],
 ['Precipitation_Minimum', 'Enriched Dataset'],
 ['Precipitation_Maximum', 'Enriched Dataset'],
 ['Root_Depth_Minimum_inches', 'Enriched Dataset'],
 ['Salinity_Tolerance', 'Enriched Dataset'],
 ['Shade_Tolerance', 'Enriched Dataset'],
 ['Temperature_Minimum_F', 'Enriched Dataset'],
 ['Bloom_Period', 'Enriched Dataset'],
 ['Commercial_Availability', 'Enriched Dataset'],
 ['Fruit_Seed_Abundance', 'Enriched Dataset'],
 ['Fruit_Seed_Period_Begin', 'Enriched Dataset'],
 ['Fruit_Seed_Period_End', 'Enriched Dataset'],
 ['Fruit_Seed_Persistence', 'Enriched Dataset'],
 ['Propogated_by_Bare_Root', 'Enriched Dataset'],
 ['Propogated_by_Bulbs', 'Enriched Dataset'],
 ['Propogated_by_Container', 'Enriched Dataset'],
 ['Propogated_by_Corms', 'Enriched Dataset'],
 ['Propogated_by_Cuttings', 'Enriched Dataset'],
 ['Propogated_by_Seed', 'Enriched Dataset'],
 ['Propogated_by_Sod', 'Enriched Dataset'],
 ['Propogated_by_Sprigs', 'Enriched Dataset'],
 ['Propogated_by_Tubers', 'Enriched Dataset'],
 ['Seeds_per_Pound', 'Enriched Dataset'],
 ['Seed_Spread_Rate', 'Enriched Dataset'],
 ['Seedling_Vigor', 'Enriched Dataset'],
 ['Small_Grain', 'Enriched Dataset'],
 ['Vegetative_Spread_Rate', 'Enriched Dataset'],
 ['Berry_Nut_Seed_Product', 'Enriched Dataset'],
 ['Christmas_Tree_Product', 'Enriched Dataset'],
 ['Fodder_Product', 'Enriched Dataset'],
 ['Fuelwood_Product', 'Enriched Dataset'],
 ['Lumber_Product', 'Enriched Dataset'],
 ['Naval_Store_Product', 'Enriched Dataset'],
 ['Nursery_Stock_Product', 'Enriched Dataset'],
 ['Palatable_Browse_Animal', 'Enriched Dataset'],
 ['Palatable_Graze_Animal', 'Enriched Dataset'],
 ['Palatable_Human', 'Enriched Dataset'],
 ['Post_Product', 'Enriched Dataset'],
 ['Protein_Potential', 'Enriched Dataset'],
 ['Pulpwood_Product', 'Enriched Dataset'],
 ['Veneer_Product', 'Enriched Dataset'],
 ['Genus', 'use']]

In [ ]:
# use list comprehension
enriched_dataset = [col[0] for col in column_list_groups if col[1] == 'Enriched Dataset']

In [ ]:
enriched_dataset

In [ ]:
# Create enriched dataset
df_enriched = pd.DataFrame(df, columns = [enriched_dataset])

In [ ]:
df_enriched.head()

In [ ]:
# need to trim rows for only 10000 subset with complete enriched data

In [ ]:
one_unique_list

In [ ]:
two_unique_list

In [ ]:
three_unique_list

In [ ]:
four_unique_list

In [ ]:
df_core.head()

In [ ]:
core_column_list = list(df_core)

In [ ]:
# for column in core_column_list:
#     print(df_core[column].isna().value_counts().sort_values())
#     print('-------------')
#     print(df_core[column].describe())
#     print('-------------')
#     print('-------------')
#     print('-------------')

In [ ]:
df_core.isna().sum()

In [ ]:
# values = {'State_and_Province':'unknown','Native_Status':'unknown',}
df_core.fillna('unknown', inplace=True)

In [ ]:
df_core.isna().sum()

In [ ]:
# # function to id 'Lower 48' states code in super string
# def in_l48(string):
#         if string.find('L48') == -1:
#             return False
#         else:
#             return True

In [ ]:
# # function to id 'NC' state code in super string
# def in_nc(string):
#         if string.find('NC') == -1:
#             return False
#         else:
#             return True

In [ ]:
# df_core_nc = df_core.copy()

In [ ]:
# create df with nc nativity known
# df_core_nc['In_NC'] = df_core['State_and_Province'].apply(in_nc)
# df_core_nc['Native_L48'] = df_core['Native_Status'].apply(in_l48)
# df_core_nc['Native_NC'] = df_core['Native_Status'].apply(in_nc)

In [ ]:
list(df_core.columns)

## DF_CORE TARGET COLUMN ISOLATION, PREPROCESS

In [ ]:
df_core

In [ ]:
df_core_state.head()

In [ ]:
df_core_process = df_core_state.copy()

In [ ]:
df_core_process

In [ ]:
column_process_list = list(df_core_process)

In [ ]:
for column in column_process_list:
    print(df_core_process[column].describe())
    print('----------')

In [ ]:
core_process = df_core_process.drop(columns = ['AL_Native', 'L48','AS_Native','MA_Native',
'AZ_Native','AR_Native','CO_Native','CT_Native','DE_Native','DC_Native','MN_Native',
'FM_Native','FL_Native','GA_Native','GU_Native','ID_Native','IL_Native','IN_Native',
'IA_Native','KS_Native','KY_Native','LA_Native','ME_Native','MH_Native','MD_Native',
'MI_Native','MO_Native','MS_Native','WY_Native','WI_Native','WV_Native','VA_Native',
'WA_Native','VT_Native','UT_Native','TX_Native','TN_Native','SD_Native','SC_Native',
'RI_Native','PA_Native','PW_Native','OR_Native','OK_Native','OH_Native','MP_Native',
'NC_Native','NY_Native','NM_Native','NJ_Native','NH_Native','NV_Native','NE_Native',
'ND_Native','MT_Native'])

In [ ]:
df_core_process

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [ ]:
list(df_core_process)

In [ ]:
# df_core_process.unique()

In [ ]:
df_core_process.dtypes

In [ ]:
list(df_core_process)

In [ ]:
for column in column_process_list:
    print(df_core_process[column].unique())
    print('----------')

## DF TARGET COLUMN ISOLATION

In [ ]:
# # Drop the label to create the X data
# X = df_core.drop('State_Noxious_Status', axis=1)
# X

In [ ]:
X = df_core_process.drop(['State_Noxious_Status','State_and_Province'],axis=1)

In [ ]:
X

In [ ]:
# One-hot encoding the entire dataframe
# X_dummies = pd.get_dummies(X)
# X_dummies
# 92171 rows Ã— 138303 columns

In [ ]:
# One-hot encoding the entire dataframe
# X_dummies = pd.get_dummies(X)
# print(X_dummies.columns)
# X_dummies

## PRODUCES 92171 rows Ã— 149451 columns

In [ ]:
# Converting output labels to 0 and 1
# y_label = LabelEncoder().fit_transform(df_core_process['State_Noxious_Status'])
# y_label

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_label, random_state=99)

In [ ]:
# Scaling the X data by using StandardScaler()
# scaler = StandardScaler()

In [ ]:
# X_train_scaled = scaler.fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_train_scaled

In [ ]:
# # Alternatively, scaling the data by using MinMaxScaler()
# scaler = MinMaxScaler().fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_train_scaled

In [ ]:
# Transforming the test dataset based on the fit from the training dataset
# X_test_scaled = scaler.transform(X_test)
# X_test_scaled

## Score Models

In [ ]:
# clf = RandomForestClassifier(random_state=99, n_estimators=500).fit(X_train, y_train)
# print(f'Training Score: {clf.score(X_train, y_train)}')
# print(f'Testing Score: {clf.score(X_test, y_test)}')